@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
}

body {
    height: 100%;
}

.chat-input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: 180ms box-shadow ease-in-out;
}

.chat-input:focus {
    outline: 3px solid transparent;
}

ul > li {
    padding-bottom: 12px;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.skeleton-text {
  width: 100%;
  height: 1em;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
}

.chat-message {
  white-space: normal;
  padding: 12px;
}

pre {
  background-color: rgb(5, 5, 5, 1);
  color: #fff;
  padding: 12px;
  border-radius: 8px;
}

ol li {
  padding: 12px 0px;
}

ul li {
  padding: unset;
}